/* ---- Nav ---- */
.nav{
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-auto-rows: minmax(min-content, max-content);
}

.navItem{
    overflow: hidden;
    height: 275px;
    width: 90%;
    background-color: #fff;
    margin: 1em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px -1px;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: capitalize;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.image:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    overflow: hidden;
    filter: brightness(0.8);
}

.imageTitle{
    z-index: 2;
    position: absolute;
    color: white;
}

/* ---- Blog ---- */

.blogContainer{
    padding: 1em;
}

/* ---- Media Queries ----*/

@media only screen and (min-width: 765px) {
    .nav{
        grid-template-columns: repeat(2, 1fr);
    }
  }