.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.skillDiv{
    height: 200px;  
    flex: 1 1 35%;
    margin: .5%;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px -1px;
}

.skillDiv:nth-child(2){
    flex: 0 1 63%;
}

.skillDiv:nth-child(4n -1){
    flex-basis: 63%;
}

.skillDiv:last-child{
    flex-basis: 99%;
}

.skillImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-out;
}

.skillImg:hover{
    transform: scale(1.1);
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.skillDiv:hover{
    filter: brightness(0.5);
    overflow: hidden;
}